body {
    margin-top: 50px;
  }
  .carousel-control {
    background-image: none !important;
  }
  
  .item {
    transition: none !important;
    left: 0 !important;
    transform: none !important;
  }
  .animated {
    animation-duration: .6s;
  }
  @-webkit-keyframes zoomInDown{0%
    {opacity:0;
      -webkit-transform:scale3d(.1,.1,.1) 
      translate3d(0,-1000px,0);
      transform:scale3d(.1,.1,.1) 
      translate3d(0,-1000px,0);
      -webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);
      animation-timing-function:cubic-bezier(.55,.055,.675,.19)
    }
      60%{opacity:1;
        -webkit-transform:scale3d(.475,.475,.475) 
        translate3d(0,60px,0);
        transform:scale3d(.475,.475,.475) 
        translate3d(0,60px,0);
        -webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);
        animation-timing-function:cubic-bezier(.175,.885,.32,1)
      }
    }
    @keyframes zoomInDown{0%
      {opacity:0;
        -webkit-transform:scale3d(.1,.1,.1) 
        translate3d(0,-1000px,0);
        transform:scale3d(.1,.1,.1) 
        translate3d(0,-1000px,0);
        -webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);
        animation-timing-function:cubic-bezier(.55,.055,.675,.19)
      }
      60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) 
        translate3d(0,60px,0);
        transform:scale3d(.475,.475,.475) 
        translate3d(0,60px,0);
        -webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);
        animation-timing-function:cubic-bezier(.175,.885,.32,1)
      }
    }
    .zoomInDown{-webkit-animation-name:zoomInDown;
      animation-name:zoomInDown
    }
  @-webkit-keyframes zoomOutDown{40%
    {opacity:1;
      -webkit-transform:scale3d(.475,.475,.475) 
      translate3d(0,-60px,0);
      transform:scale3d(.475,.475,.475) 
      translate3d(0,-60px,0);
      -webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);
      animation-timing-function:cubic-bezier(.55,.055,.675,.19)
    }
    to{opacity:0;
      -webkit-transform:scale3d(.1,.1,.1) 
      translate3d(0,2000px,0);
      transform:scale3d(.1,.1,.1) 
      translate3d(0,2000px,0);
      -webkit-transform-origin:center bottom;
      transform-origin:center bottom;
      -webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);
      animation-timing-function:cubic-bezier(.175,.885,.32,1)
    }
  }
  @keyframes zoomOutDown{40%
    {opacity:1;
      -webkit-transform:scale3d(.475,.475,.475) 
      translate3d(0,-60px,0);
      transform:scale3d(.475,.475,.475) 
      translate3d(0,-60px,0);
      -webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);
      animation-timing-function:cubic-bezier(.55,.055,.675,.19)
    }
    to{opacity:0;
      -webkit-transform:scale3d(.1,.1,.1) 
      translate3d(0,2000px,0);
      transform:scale3d(.1,.1,.1) 
      translate3d(0,2000px,0);
      -webkit-transform-origin:center bottom;
      transform-origin:center bottom;
      -webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);
      animation-timing-function:cubic-bezier(.175,.885,.32,1)
    }
  }
  .zoomOutDown{-webkit-animation-name:zoomOutDown;
    animation-name:zoomOutDown
  }